:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --section-pt: 94px;
  --section-pb: 94px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  display: block;
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: #ffffff;
  background: var(--accent-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-list-item {
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.project-list-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.project-list-content-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-link:hover .overlay,
.project-card-link:focus .overlay {
  transform: translateY(0%);
  opacity: 1;
}

.project-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-type {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .burger-btn,
  .mobile-menu-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .svg:transition {
    fill: var(--accent-color);
  }
  .burger-icon {
    fill: #000;
  }
  .mobile-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    overflow: scroll;
    transform: translateY(-100%) translateX(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }
  .mobile-menu.is-open {
    transform: translateY(0) translateX(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-list {
    margin-bottom: 25vh;
  }
}

.mobile-menu-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.8;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-contact-list {
  display: block;
  margin-bottom: 64px;
}

.mobile-contact-item {
  padding-bottom: 32px;
}

.mobile-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-mail {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .navigation-list__navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .navigation-link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    color: var(--color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link:hover, .navigation-link:focus {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .contact-list {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .contact-list__tel-link {
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--accent-color);
  }
  .contact-list__mail-link {
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms var(--accent-color);
  }
}

.contact-list__icons-contact-link {
  margin-right: 10px;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icons-contact-link:hover, .contact-list__icons-contact-link:focus {
  fill: var(--accent-color);
}

.mobile-social-list {
  display: flex;
  align-items: center;
  justify-content: start;
}

.mobile-social-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social-link:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.main-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-logo:hover, .main-logo:focus {
  color: var(--accent-color);
}

.web {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header .container {
    width: 1200px;
    align-items: center;
    display: flex;
  }
  .header {
    /* position: fixed;
  background: #ffffff;
  width: 100%; */
    height: 80px;
    border-bottom: 1px solid #ececec;
  }
  .navigation-list__navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact-list__icons-contact-link {
    display: inline-flex;
    margin-right: 10px;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__icons-contact-link:hover, .contact-list__icons-contact-link:focus {
    fill: var(--accent-color);
  }
  .navigation-link {
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    color: var(--color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-link:hover, .navigation-link:focus {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
  .contact-list {
    margin-left: auto;
  }
  .contact-box {
    display: flex;
  }
  .contact-list__tel-link {
    align-items: center;
    margin-right: 30px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__tel-link:hover, .contact-list__tel-link:focus {
    color: var(--accent-color);
  }
  .contact-list__mail-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__mail-link:hover, .contact-list__mail-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 20px;
    margin-right: 0;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-logo:hover, .footer-logo:focus {
    color: var(--accent-color);
  }
  .location-link {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .location-link:hover, .location-link:focus {
    color: var(--accent-color);
  }
  .footer-adress {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-link-mail,
  .footer-link-tel {
    padding-bottom: 8px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link-mail:hover, .footer-link-mail:focus,
  .footer-link-tel:hover,
  .footer-link-tel:focus {
    color: var(--accent-color);
  }
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-wrapper-social {
    margin-bottom: 60px;
  }
  .join {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer-social {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
  }
  .footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 44px;
    margin: 0 auto;
  }
  .icon-social {
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }
  .footer-form input {
    width: 100%;
    height: 50px;
    margin: 0 auto 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    padding: 16px 15px;
    color: #ffffff;
  }
  .footer-form b {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .footer-form button {
    width: 200px;
    height: 50px;
    left: 1185px;
    top: 2785px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .subscribe-btn {
    padding-left: 29px;
    padding-right: 28px;
    border: none;
    margin-top: 20px;
    margin: 0 auto;
  }
  .subscribe-input {
    color: #ffffff;
  }
  .subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .send-icon {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 44px;
    margin: 0 auto;
  }
  .join {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .location-link {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-link-mail,
  .footer-link-tel {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-logo {
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link {
    background: rgba(255, 255, 255, 0.1);
  }
  .icon-social {
    fill: #ffffff;
  }
  .footer-adress {
    text-align: center;
    margin-bottom: 60px;
  }
  .subscribe-input {
    width: 450px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    margin-bottom: 20px;
  }
  .subscribe {
    display: block;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .subscribe-btn {
    padding-left: 29px;
    padding-right: 28px;
    border: none;
    margin-top: 20px;
    margin: 0 auto;
  }
  .footer-form button {
    width: 200px;
    height: 50px;
    left: 1185px;
    top: 2785px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .send-icon {
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-wrapper {
    display: flex;
    align-items: baseline;
  }
  .footer-adress {
    text-align: left;
  }
  .icon-social {
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }
  .footer-main {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .social-link {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms;
  }
  .social-link:hover, .social-link:focus {
    background-color: var(--accent-color);
  }
  .footer-logo {
    display: inline-block;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-logo:hover, .footer-logo:focus {
    color: var(--accent-color);
  }
  .footer-link-mail {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link-mail:hover, .footer-link-mail:focus {
    color: var(--accent-color);
  }
  .footer-link-tel {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-link-tel:hover, .footer-link-tel:focus {
    color: var(--accent-color);
  }
  .location-link {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .location-link:hover, .location-link:focus {
    color: var(--accent-color);
  }
  .footer-social-list {
    display: flex;
    width: 206px;
    height: 44px;
    justify-content: space-between;
  }
  .footer-form-items {
    display: flex;
    width: 570px;
    height: 86px;
  }
  .subscribe {
    text-align: left;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .subscribe-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    color: #ffffff;
  }
  .subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  .join {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: #ffffff;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
  }
  .join-title {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=portfolio.css.map */