@media screen and (max-width: 767px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .activity {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity {
    width: 1200px;
    display: flex;
  }
  .title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }

  .activity-item {
    display: flex;
    // flex-wrap: wrap;
    margin-left: -30px;
    // margin-top: -30px;
  }
  .activity-item-img {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .activity-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
  }
}
