@media screen and(min-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .team {
    background-color: #f5f4fa;
  }
  .team-list {
    display: flex;
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
  .card-name {
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 24px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  // .card-img {
  //   width: 100%;
  //   height: auto;
  // }
  .name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
  .function {
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
  .social-list {
    display: flex;
    justify-content: center;
    margin-right: 122px;
    margin-left: 122px;
  }
  .social-list-item:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and(min-width: 768px) {
  .team {
    background-color: #f5f4fa;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .social-list {
    margin: 0 auto;
  }
  .name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;

    font-family: var(--main-font);
    letter-spacing: 0.03em;

    color: #212121;
  }
  .card-name {
    text-align: center;

    // padding-left: 74px;
    // padding-right: 74px;
    padding-top: 30px;
    padding-bottom: 24px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .card {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .function {
    margin-top: 10px;
    margin-bottom: 16px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 10px;
  }
}

@media screen and(min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
  }
  .social-list {
    display: flex;
    justify-content: center;
  }
  .social-list-link {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  .social-list-icon {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .social-list-link:hover &,
    .social-list-link:focus & {
      fill: #ffffff;
    }
  }
  .social-list {
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

  .social-list-item:not(:last-child) {
    margin-right: 10px;
  }
  .card-img {
    display: block;
    width: 100%;
  }

  .card {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    flex-basis: calc((100%-120px) / 4);
    // width: 270px;
    // height: 428px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -30px;
  }
  .team-list-item {
    margin-top: 30px;
  }

  .function {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 10px;
  }
}
