.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form b {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  &:focus {
    outline: none;
    border-color: var(--accent-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  bottom: 0;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.checkbox-link {
  color: var(--accent-color);
}

.modal-form-check-desk {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-btn {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.87;
  cursor: pointer;
  min-width: 200px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 40px;
}
