@media screen and(max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 40px;
  }
  .modal-form-field {
    margin-top: 10px;
  }
  .modal-form-check-desk {
    display: flex;
    align-items: center;
    &::before {
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      outline: 1px solid #000000;
      cursor: pointer;
      margin-right: 8px;
      .modal-form-term:checked + & {
        background-image: url('../images/checkbox-icon.svg');
        background-repeat: no-repeat;
        background-color: var(--accent-color);
        background-position: center;
      }
      .modal-form-term:focus + & {
        box-shadow: 0 0 0 2px var(--accent-color);
      }
    }
  }
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .icon-close {
    &:hover,
    &:focus {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    max-height: 609px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
  }
  .modal-close-btn {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .modal-form-check-desk {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    &::before {
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      outline: 1px solid #000000;
      cursor: pointer;
      margin-right: 8px;
      .modal-form-term:checked + & {
        background-image: url('../images/checkbox-icon.svg');
        background-repeat: no-repeat;
        background-color: var(--accent-color);
        background-position: center;
      }
      .modal-form-term:focus + & {
        box-shadow: 0 0 0 2px var(--accent-color);
      }
    }
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 40px;
  }
  .modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    &:focus,
    &:hover {
      outline: none;
      border-color: var(--accent-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .icon-close {
    &:hover,
    &:focus {
      fill: var(--accent-color);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
