@media screen and(max-width: 767px) {
  .projects {
    // display: flex;
    // flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .card-title {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #eeeeee;
    border-top: none;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }
  .project-list-item {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }
  .card-title {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #eeeeee;
    border-top: none;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }

  .project-list-content-wrapper {
    position: relative;
    overflow: hidden;
  }
  .project-card-link {
    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    .project-card-link:hover &,
    .project-card-link:focus & {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .project-name {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }

  .project-type {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and(min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .card-title {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #eeeeee;
    border-top: none;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }
  .project-list-item {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }
  .card-title {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #eeeeee;
    border-top: none;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }

  .project-list-content-wrapper {
    position: relative;
    overflow: hidden;
  }
  .project-card-link {
    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    .project-card-link:hover &,
    .project-card-link:focus & {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .project-name {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }

  .project-type {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
@media screen and(min-width: 1200px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .project-list-item {
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }

  .card-title {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #eeeeee;
    border-top: none;
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
  }

  .project-list-content-wrapper {
    position: relative;
    overflow: hidden;
  }
  .project-card-link {
    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    .project-card-link:hover &,
    .project-card-link:focus & {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .project-name {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }

  .project-type {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
